<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, architecto. Dolorem praesentium eligendi ea, ipsum laboriosam reprehenderit non quasi hic, ab perferendis fugit eum quis, dolores voluptates magnam. Iure, quis!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, architecto. Dolorem praesentium eligendi ea, ipsum laboriosam reprehenderit non quasi hic, ab perferendis fugit eum quis, dolores voluptates magnam. Iure, quis!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, architecto. Dolorem praesentium eligendi ea, ipsum laboriosam reprehenderit non quasi hic, ab perferendis fugit eum quis, dolores voluptates magnam. Iure, quis!
            </p>
        </ul>
    </div>
</div>