<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>proyecto realizado</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque error quod voluptatem quae voluptate minima quasi sed adipisci necessitatibus maxime at, laboriosam quibusdam et hic expedita id tempore aspernatur qui.</p>
         </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="" class="img-fluid img-proyecto">
        </div>

    </div>
</div>